* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
    background-color: black;
    color: #E1D8C4;
    font-family: 'aluviondisplay';
    display: flex;
    padding: 15px;
    justify-content: center;
}

header {
    text-align: center;
} 

img {
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: #E1D8C4;
}