* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}


body {
    background-color: #181818;
    color:#DFDCD5;
    
    
}

p {
    font-family: 'Gotham';
}



.container-nav {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    background-color: #181818;
    padding: 0px 20px;
    font-family: 'Gotham' ;
    
}

.h1 {
    display: flex;
    justify-content: flex-start;
    font-family: 'Futura';
}

.link {
    display:flex ;
    justify-content: flex-end;
   
}

a {
    color: #DFDCD5;
    text-decoration:none ;
}


nav ul li {
    padding: 15px 20px;
}

.link :hover {
    transition: 1s;
    background-color: #DFDCD5;
    color: #181818;
    
}



section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}


section h1 {
    font-family:'Futura' ;
}

.sec2 {
    background-color: #DFDCD5;
    color: #181818;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:  20px;
}

.sec2 h1 {
    font-family: 'Futura';
}

.social_media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px ;
}



