* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}


body {
    background-color: #000000;
   
    
    
}

p {
    font-family: 'Gotham';
}

img {
    border-radius: 20px;
}


.container-nav {
    list-style: none;
    display: flex;
    margin: 20px;
    border-radius: 20px;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    background-color: #DFDCD5;
    color: #000000;
    padding: 0px 20px;
    font-family: 'Gotham' ;
    
}

.h1 {
    display: flex;
    justify-content: flex-start;
    font-family: 'Futura';
}

.link {
    display:flex ;
    justify-content: flex-end;
   
}

a {
    color: #000000;
    text-decoration:none ;
}


nav ul li {
    padding: 15px 20px;
}

.link :hover {
    transition: 0.5s;
    color: grey;
    
}



section {
    display: flex;
    border-radius: 20px;
    margin: 20px;
    background-color: #181818;
    color: #DFDCD5;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
}


section h1 {
    font-family:'Futura' ;
}

.sec2 {
    background-color: #DFDCD5;
    color: #181818;
    display: flex;
    border-radius: 20px;
    margin: 20px;
    justify-content: space-evenly;
    align-items: center;
    padding:  20px;
}

.sec2 h1 {
    font-family: 'Futura';
}

.social_media {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin: 20px;
    align-items: center;
    background-color: #181818;
    gap: 10px;
    padding: 20px ;
}



